* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 1600px;
    height: 825px;
    background: url("imags/header.png");
}
.header .header-logo {
    width: 46px;
    height: 46px;
    left: 343px;
    top: 8px;
    position: absolute;
    background: url("imags/logo.png");
}
.header .header-links {
    width: 199px;
    height: 39px;
    float: right;
    margin-right: 320px;
    margin-top: 25px;
}
.header .header-links .T-link {
    float: left;
}
.header .header-links .H-link {
    float: right;
}
.header .header-links a {
    color: white;
}
